# Ignorar tudo
*

# Exceto a pasta src
!src/
!src/**
!requirements.txt

# Ignorar arquivos específicos dentro de src (se necessário)
# Exemplo: !src/*.py (para permitir apenas arquivos Python)

# Ignorar ambientes virtuais
.venv/
venv/

# Ignorar dependências geradas

__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar pastas de resultados e gravações
recordings/
results/
